:root {
  --background-main: #e3e9ff;
  --primary-accent: #af7eeb;
  --secondary-accent: #c6abf8;
  --text-color: #a4a6ab;
  --strikethrough-color:  #E5E7EB;
  --delete-icon-color: #9CA3AF;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-main);
  height: 100vh;
  gap: 20px;
}

.App-header {
  display: flex;
  flex: row;
  background-color: var(--primary-accent);
  color: #ffedff;
  width: 500px;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px #b69ee3;
}